@charset "UTF-8";
main#mobile-wrapper #nestedMenu.menu-wrapper .list_level_panel .item_button, main#mobile-wrapper #nestedMenu.menu-wrapper .list_level_header_left button.back, main#mobile-wrapper #nestedMenu.menu-wrapper .list_level_header_right button.back {
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: inherit;
  border: none;
  background: none;
}

html {
  background: #3498db;
}
html body {
  margin: 0;
}

main#mobile-wrapper {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  box-sizing: content-box;
}
main#mobile-wrapper #nestedMenu {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #000;
}
main#mobile-wrapper #nestedMenu.menu-wrapper {
  position: relative;
  height: 100%;
  background: #3498db;
}
main#mobile-wrapper #nestedMenu.menu-wrapper .loading-message {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  font-size: 48px;
  background: #3498db;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;
}
main#mobile-wrapper #nestedMenu.menu-wrapper .loading-message--done {
  display: none;
}
main#mobile-wrapper #nestedMenu.menu-wrapper .list {
  height: 100%;
  background: #fff;
}
main#mobile-wrapper #nestedMenu.menu-wrapper .list_level {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 0;
  grid: 65px auto/100%;
}
main#mobile-wrapper #nestedMenu.menu-wrapper .list_level:not(.active-level) {
  display: none !important;
}
main#mobile-wrapper #nestedMenu.menu-wrapper .list_level.suppress-animation {
  animation: none !important;
}
main#mobile-wrapper #nestedMenu.menu-wrapper .list_level.animate__animated {
  box-shadow: 15px 0 20px 10px #000;
}
main#mobile-wrapper #nestedMenu.menu-wrapper .list_level_header {
  top: 0;
  height: 65px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 13px;
  color: #fff;
  background: #3498db;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  flex-flow: row nowrap;
}
main#mobile-wrapper #nestedMenu.menu-wrapper .list_level_header_left, main#mobile-wrapper #nestedMenu.menu-wrapper .list_level_header_right {
  width: 17%;
  max-width: 80px;
  flex-shrink: 0;
}
main#mobile-wrapper #nestedMenu.menu-wrapper .list_level_header_left button.back, main#mobile-wrapper #nestedMenu.menu-wrapper .list_level_header_right button.back {
  box-sizing: border-box;
  font-size: 32px;
  width: 100%;
  height: 100%;
}
main#mobile-wrapper #nestedMenu.menu-wrapper .list_level_header_left, main#mobile-wrapper #nestedMenu.menu-wrapper .list_level_header_title, main#mobile-wrapper #nestedMenu.menu-wrapper .list_level_header_right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-flow: row nowrap;
}
main#mobile-wrapper #nestedMenu.menu-wrapper .list_level_header_title {
  margin: 0;
  flex-grow: 1;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
}
main#mobile-wrapper #nestedMenu.menu-wrapper .list_level_panel {
  width: 100%;
  max-height: calc(100vh - 65px);
  padding: 0;
  margin: 0;
  overflow: scroll;
  list-style: none;
  background: #fff;
}
main#mobile-wrapper #nestedMenu.menu-wrapper .list_level_panel:not(.active-panel) {
  display: none;
}
main#mobile-wrapper #nestedMenu.menu-wrapper .list_level_panel .section {
  position: sticky;
  top: 0;
  padding: 8px;
  font-size: 20px;
  text-align: center;
  background: #ecf0f1;
}
main#mobile-wrapper #nestedMenu.menu-wrapper .list_level_panel .item {
  background: #fff;
}
main#mobile-wrapper #nestedMenu.menu-wrapper .list_level_panel .item + .item {
  border-top: 1px solid #7f8c8d;
}
main#mobile-wrapper #nestedMenu.menu-wrapper .list_level_panel .item:last-of-type {
  border-bottom: 1px solid #7f8c8d;
}
main#mobile-wrapper #nestedMenu.menu-wrapper .list_level_panel .item_button {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  font-size: 24px;
  text-align: left;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  flex-flow: row nowrap;
}
main#mobile-wrapper #nestedMenu.menu-wrapper .list_level_panel .item_button::after {
  content: "❯";
  font-size: 24px;
  color: #666;
}
main#mobile-wrapper #nestedMenu.menu-wrapper .list_level_panel .item_button--link {
  font-size: 22px;
}
main#mobile-wrapper #nestedMenu.menu-wrapper .list_level_panel .item_button--link .item_button_name {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
  flex-flow: column;
}
main#mobile-wrapper #nestedMenu.menu-wrapper .list_level_panel .item_button--link .item_button_name_super {
  font-size: 18px;
  color: #666;
}

/*!
* animate.css - https://animate.style/
* Version - 4.1.1
* Licensed under the MIT license - http://opensource.org/licenses/MIT
*
* Copyright (c) 2020 Animate.css
*/
:root {
  --animate-delay: 1s;
  --animate-duration: 0.5s;
  --animate-repeat: 1;
}

.animate__animated {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: 0.5s;
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
  from {
    visibility: visible;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  from {
    visibility: visible;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
.animate__slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}

/*# sourceMappingURL=nestedListApp.css.map */
